#videos{
    text-align: center;
    background-color:#FFCDD2; 
}
#text{
    color:black;
}
#mynavbar{
    background-color: #4DB6AC;
}
#t{
    color:black;
}
#contact{
    text-align: center;
    background-color:#8E24AA; 
}
#line{
    color:black;
}